<html>
<head>
	<style type="text/css">
	#title{color:purple; position:relative; top}
	</style>
</head>
<body>
      <div >
      	<!-- 这里是尾巴元素， 就是页面底部的那些东西， 你可以自定义修改成你想要的 -->
          <div id="title">
            <hr>
            <span class="credits left">Project maintained by <a href="https://github.com/meishen1991">meishen1991</a></span>
            <span class="credits right">Hosted on GitHub Pages</span>
          </div>
      </footer>
   <!--[if !IE]><script>fixScale(document);</script><![endif]-->
</div>
</body>
</html>
