css的例子：

body{
  background-color: rgba(0,0,0,1);
  /*黑色， 0.8的透明度， 1代表不透明*/
}

div#header{
  position: fixed;
  height: 50px;
  background-color: rgb(66,66,00);
  color: yellow;
  font: bold 22px/35px Tahoma;
  padding-left: 200px;
  padding-right: 200px;
}

div.logo{
  float: left;
  margin: 10px;
}