/*css的例子：*/

body,html{
  background-color: rgba(0,0,0,1);
  width:100%;
  height: 100%;
  padding-top:50px;
  /*黑色， 0.8的透明度， 1代表不透明*/
}

div#header{
  position: fixed;
  height: 50px;
  width:100%;
  top:0px;
  padding:0 0 0 200px;
  /*padding : top right bottom left ;*/
  background-color: rgb(233, 116, 196);
  color: yellow;
  font: bold 22px/35px Tahoma;
}

div.logo{
  float: left;
}
div.log p{
  display: inline-block;
  margin-left: 20px;
}

div.wrapper ul{
  list-style: none;
  line-height: 30px;
  color: white;
}

ul a{
  color:white;
}