/*css的例子：*/

 /* 大概就是这么个意思， 怎么调样式之类的， 你自己调就行了。 */

body,html{
  background-color: rgb(215, 250, 218);
  width:100%;
  height: 100%;
  padding-top:85px;
  
  /*黑色， 0.8的透明度， 1代表不透明*/
}

div#header{
  position: fixed;
  height:115px;
  width:970px;
  top:30px;
  padding:0 0 0 200px;
  /*padding : top right bottom left ;*/
  background-image: url('head2.jpg'); width:100%; height:100px;
  
  color: #4F94CD;
  font: bold 40px/35px Tahoma;
}

div.logo{
  float: left;
}
div.logo p{
  display: inline-block;
  margin-left: 0px;
}



div.wrapper ul{
  
  color: #4F94CD;
  font: bold 20px/25px Tahoma
  list-style: none;
  line-height: 30px;
  width:85%;
  height:100%;
  
}

ul a{
  color: white;
}
