<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="/blog/css/normalize.css">
    <!-- normalize.css will remove the default css inherit from browser. -->
    <link rel="stylesheet" href="/blog/css/styles.css">
    <!-- styles.css is main css for this page -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="/blog/css/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body >
      <div id="header"  >
        <nav>
        	
          <div class="logo"                                >
            <p >
            <a href="http://meishen1991.github.io">Meishen's Museum and Encyclopaedia</a></p></div>
        </nav>
      </div><!-- end header -->
<!-- 这个是一个模板， 如果你要想再文章页里面换一个新的模板， 就可以创建一个心的文件。如果新文件中的header和deafult的这个不一样， 你就可以不用include， 自己写 -->
<div class="wrapper">
      <section>
      <h3 style="text-align:center; color: #4F94CD;
  font: bold 20px/25px Tahoma
  list-style: none;
  line-height: 30px;">{{page.title}}</h3>
      {{content}}
      </section>
    </div>
{% include footer.html %}     

