<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{page.title}}</title>
<!--     <link rel="stylesheet" href="../stylesheets/normalize.css">
    <link rel="stylesheet" href="../stylesheets/styles.css"> -->
     <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="/stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
      <div id="header">
        <nav>
          <div class="logo"><a href="#">ZzGary</a><p>Driven by Passion</p></div>
          <div class="fork"><a href="https://github.com/zzgary">View On GitHub</a></div>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">
      <section>
      {{content}}
      </section>
      <footer>
          <div id="title">
            <hr>
            <span class="credits left">Project maintained by <a href="https://github.com/zzgary">zzgary</a></span>
            <span class="credits right">Hosted on GitHub Pages &mdash; Theme modified from <a href="https://twitter.com/michigangraham">mattgraham</a></span>
          </div>
      </footer>
   <!--[if !IE]><script>fixScale(document);</script><![endif]-->
</body>
</html>
